<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Colorizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Colorizer.Properties.Settings>
            <setting name="setting_PtsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_SbetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_PicsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_OutDir" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_PointsFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_SelectPtsFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_LeapSecs" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="setting_PosFromTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_CamEventsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_PitchOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_RollOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_YawOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_XOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_YOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_ZOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_CamAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_TimeOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_ScanDate" serializeAs="String">
                <value>2019-09-26</value>
            </setting>
            <setting name="setting_PerPicOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_CoordSys" serializeAs="String">
                <value>UTM</value>
            </setting>
            <setting name="setting_TimeScaleFact" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_XYZRGBI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_CheckScanDate" serializeAs="String">
                <value>False</value>
            </setting>
        </Colorizer.Properties.Settings>
    </userSettings>
</configuration>